extends default 

block content
    div.container
        div.row
            .col-sm
                .card 
                    .card-body 
                        .card-title Testing
                        .card-subtitle.mb-2.text-muted Subtitle 
                        .card-text Some quick example text to build on the card title and make up the bulk of the card's content
                        a.card-link Card Link 
                        a.card-link Another Link
    .container.footer 
        .row 
            .col-6
                button.btn.btn-outline-primary Add New Game
            .col-6
                button.btn.btn-outline-danger Remove Game

